apiVersion: v1
kind: Pod
metadata:
 name: pod-secret-1
 namespace: default
 labels:
  app: myapp
  tier: frontend
 annotations:
  doudou/create-by: "cluster admin"
spec:
  containers:
  - name: myapp
    image: ikubernetes/myapp:v1
    imagePullPolicy: IfNotPresent
    ports:
    - name: http
      containerPort: 80 
    env:
    - name: MYSQL_ROOT_PASSWORD
      valueFrom:
       secretKeyRef:
        name: mysql-root-password
        key: password
      
